{% extends 'base.html' %}



{% block  user_login%}
<main class="main">
  <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>Sign In</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Sign In</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
    {% include "account/forms/user_login_form.html" %}
</main>
{% endblock %}