{% extends "base.html" %}
{% block title %}Wishlist{% endblock %}

{% block content %}
<!-- Page Title -->
    <div class="page-title dark-background main-nav-bg">
      <div class="container position-relative">
        <h1>Wishlist</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Account</a></li>
            <li class="current">Wishlist</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
    <div class="col-8 my-5 mx-5">
      <h1 class="h3">My Wishlist</h1>
      <hr />
      {% if wishlist %}
        {% for product in wishlist  %}
          <div class="card mb-3 rounded-0">
            <div class="row g-0">
              <div class="col-md-2">
                {% for image in product.product_image.all %}
                      <img class="img-fluid" alt="" src="{{ image.image.url }}">
                {% endfor %}
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  {% if product.title|length > 20 %}
                      <h5 class="card-title">{{ product.title|slice:":20" }}...</h5>
                    {% else %}
                      <h5 class="card-title">{{ product.title }}</h5>
                  {% endif %}

                   {% if product.description|length > 20 %}
                      <h5 class="card-text">{{ product.description|slice:":20" }}...</h5>
                    {% else %}
                      <h5 class="card-text">{{ product.description }}</h5>
                  {% endif %}
                  <p class="card-text">{{product.description}}</p>
                  <p class="card-text"><small class="text-muted">{{product.regular_price}} USD</small></p>
                  <div>
                    <a type="button" class="main-btn" href="{{ product.get_absolute_url }}">More Details</a>
                    <a type="button" class="main-btn" href="{% url 'account:user_wishlist' product.id %}">Remove from Wishlist</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="card-text">Your wishlist is empty</p>
      {% endif %}
    </div>
{% endblock %}